.list {
    /* margin-top: 5%; */
    margin-bottom: 5%;
}

.item {
    font-family: 'Kulim Park', sans-serif;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

.director {
    font-size: 100%;
    display: block;
    float: right;
    width: 50%;
    height: 50px;
    padding: 2% 0 0 2%;
    font-size: 1.1vw;

}

.title2 {
    text-shadow: 2px 2px #cc1580;
    margin: auto;
    text-align: center;
    font-size: 200%;
    float: left;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90px;
}

.genre {
    float: left;
    color: #686868;
    width: 50%;
    height: 40px;
    font-size: 1.1vw;
    padding-left: 2%;


}

hr {
    width: 100%;
    border: 1px solid red;
    /* margin-bottom: 25px; */
}


.title {
    text-shadow: 2px 2px #cc1580;
    margin: auto;
    text-align: center;
    font-size: 200%;
    float: left;
    justify-content: center;
    width: 50%;
    height: 90px;
    position: relative;
    /* border: 3px solid green; */
    font-size: 2.4vw;
  }

  
  @media screen and (max-width: 900px) {  
    .director, .genre {
        font-size: 2.1vw;
    }
    
     
  .title p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  }

  @media screen and (max-width: 750px) {

    .director, .genre {
        font-size: 2.5vw;
    }

  }

@media screen and (max-width: 600px) {

    .title {
        font-size: 3.5vw;  
    }
    
    .movie {
        font-size: 0.8rem;
    }

  }

hr {
    width: 100%;
    border: 1px solid red;
    margin-bottom: 25px;
}

/* TEMP */
.listBg {
    margin: 20px auto;
    padding: auto;
    display: block;
}

.repertoireList {
    list-style: none;
    margin: 0 0 100px 0;
    padding: 0;
}

.repertoireItem {
    margin: 10px;
    padding: 15px;
    display: grid;
    grid-template-areas: 
        "name   name"
        "date   button"
        "time   button"
        "theatre    button";
    grid-template-columns: 3fr 2fr;
    background-color: rgba(255,255,255,0.1);

    border: 1px solid red;
    width: 100px;
    height: 100px;
}

#movieName {
    grid-area: name;
    text-shadow: 2px 2px #831818;
    font-family: 'Kulim Park', sans-serif;
    line-height: 2rem;
    font-size: 3rem;
}
#dateAndTime {
    grid-area: date;
    font-size: 1.2rem;
    line-height: 0.8rem;
    margin-top: 15px;
}
#duration {
    grid-area: time;
    font-size: 1.2rem;
    line-height: 0.8rem;
}
#theatre {
    grid-area: theatre;
    font-size: 1.2rem;
    line-height: 0.8rem;
}
#buyButton {
    grid-area: button;
    margin-top: 15px;
    width: 100%;
    background-color: #843AFA;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    transition: 0.3s;
}
.freeSeats {
    font-size: 1rem;
    font-weight: normal;
}
#buyButton:hover {
    background-color: #cd3afa;
}