/* h1, h4 {
    display: inline;
  } */

.item {
    font-family: 'Kulim Park', sans-serif;
}

.director {
    display: block;
    /* float: right; */
    width: 50%;
}

.title {
    float: left;
    display: block;
    width: 50%;
}

.genre {
    float: left;
    color: #525252;
}

hr {
    width: 100%;
    border: 1px solid red;
    margin-bottom: 25px;
}